@import 'mixins';
$font-family-base: 'CircularStd-Book';
$body-bg: #fafafa;
@import "node_modules/bootstrap/scss/bootstrap";

@include fontFace('CircularStd-Book','/fonts/CircularStd-Book');

body{
    @include font-smoothing('antialiased');
    letter-spacing: 0.1rem;
}

.header {
    text-align: center;
    margin: 4rem 0;
    letter-spacing: 0.15rem;
}

.card {
    text-align: center;

    @include e('icon') {
        width: 80px;
        height: 80px;
    }

    @include e('title') {
        margin: 1rem 0 .5rem 0;
    }

    @include e('text') {
        padding: 1rem;
        border: 1px solid #e9ecef;
        @include rounded();
        background: #e9ecef url('/images/topography.png') no-repeat center;
    }
}